.git
.git/
.git/**
.vscode
.vscode/
.vscode/**
node_modules
node_modules/
node_modules/**
.expo
.expo/
.expo/**
dist
dist/
dist/**
web-build
web-build/
web-build/**
App
App/
App/**
android
android/
android/**
ios
ios/
ios/**
inspect-archive
inspect-archive/
inspect-archive/**
museum-inspect
museum-inspect/
museum-inspect/**

*.zip
*.apk
*.tar.gz

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
